.box{
    /* height: 200px;
    width: 200px; */
    font-size: 22px;
    text-align: center;

    /* padding: 5px;
    margin: 5px; */
    background-color: tomato;
    /* cover extra space */
    /* flex-grow: 1; */
    /* can minimise space */
    /* flex-shrink: 1; */
    
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    grid-template-rows: repeat(5,200px);
}

.box:nth-child(2){
    grid-column: span 2;
}

.box:nth-child(4){
    grid-column: span 2;
}

.box:nth-child(5){
    grid-row: span 3;
}

.box:nth-child(8){
    grid-row: span 3;
}
.box:nth-child(8){
    grid-column: span 2;
}

