*{
  margin: 0;
  padding: 0;
}
h1{
  color: tomato;
  text-align: left;
}
p{
  margin-bottom: 10px;
}
.one{
  text-align-last: center;
}
.two{
  text-align: justify;
  text-align-last: right;
}
.three{
  direction: rtl;
  unicode-bidi: bidi-override;
}
.four img{
  width: 50px;
  height:50px
}
.baseline{
  vertical-align: baseline;
}
.text-top{
  vertical-align: top;
}
.text-bottom{
  vertical-align: bottom;
}
.text-deco{
  text-decoration: none;
  text-decoration: overline;
  text-decoration: underline;
  text-decoration: solid;
  text-decoration: line-through;
  text-transform:   ;

}
.text-deco2{
text-indent: 100px;
letter-spacing: 10px;
text-shadow: 0px 5px 10px black;
}